{% extends "layout.html" %}

{% block content %}

<form id="upload" enctype="multipart/form-data" method="POST">
    <div class="jumbotron">
        <p class="lead">
            Please select an insurance document to process
            <input type="file" name="rsaFile" id="rsaFile" />
            <input id="btnSubmit" type="submit" name="mainSubmit" value="Submit"/>
            <br/>
            <div id="mytablediv" name="mytablediv" class ="mytablediv" contenteditable style="border:1px solid black;max-width:100%;height:30%;overflow:scroll;overflow-y:scroll;overflow-x:hidden;"/>
           </div>
            <div id="mytablediv2" name="mytablediv2" class="mytablediv2" contenteditable style="border:1px solid black;max-width:100%;height:30%;overflow:scroll;overflow-y:scroll;overflow-x:hidden;"/>
            </div>
            <div id="mytablediv3" name="mytablediv3" class ="mytablediv3" style="border:1px solid
            black;max-width:100%;height:30%;overflow:scroll;overflow-y:scroll;overflow-x:hidden;"/>
            </div>
            <div id="mytablediv4" name="mytablediv4" class ="mytablediv4" style="border:1px solid
            black;max-width:100%;height:30%;overflow:scroll;overflow-y:scroll;overflow-x:scroll;"/>
        </p>
    </div>
    </div>
</form>

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Please wait while the program performs the calculations...
            </p>
        </div>
    </div>

    <style type="text/css">
        #loading {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 600px;
            height: 300px;
            margin-top: -150px;
            margin-left: -300px;
            background: rgba(235, 235, 235, 0.5);
            z-index: 1000;
        }

        #loadingcontent {
            display: table;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 600px;
            height: 300px;
            margin-top: -150px;
            margin-left: -300px;
        }

        #loadingspinner {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            font-size: larger;
            padding-top: 80px;
        }
    </style>


<script type="text/javascript">
        ///////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////
		$("#btnSubmit").click(function (e) {
			e.preventDefault(); // stop the standard form submission
            $('#mytablediv').empty();
			$('#mytablediv2').empty();
            $("#btnSubmit").prop("disabled", true);
            $("#loading").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
            var homeUrl = '/RSA';
			var getUrl = '/RSA/get_file';
            var form = $('#upload')[0];	
			
            $.ajax({
                url: '/RSA/_RSA',
                type: 'POST',
                data: new FormData(form),
                cache: false,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.data !== "-1") {
                        $("#loading").hide();						
						data.myt = data.myt.replace('<th>', '<th style="font-weight:bold">')
						data.myt2 = data.myt2.replace('<th>', '<th style="font-weight:bold">')
						$("#mytablediv").html(data.myt);
                        $("#mytablediv2").html(data.myt2);
                        $("#mytablediv3").html(data.myt3);
                        $("#mytablediv4").html(data.myt4);
                        if (data.data == "1") {
						
						document.getElementById("mytablediv").contentEditable = "false";
                        document.getElementById("mytablediv2").contentEditable = "false";
                        document.getElementById("mytablediv3").contentEditable = "false";
                        document.getElementById("mytablediv4").contentEditable = "false";
						//window.location.reload(true);
                        window.location = getUrl + "?resultedFile="+data.broker_doc;
						$("#btnSubmit").prop("disabled", false);
                        $("#rsaFile").val(null);
						} else {
						        document.getElementById("mytablediv").contentEditable = "true"
							    $("#btnSubmit2").show();
							   }

                    } else {
                        alert('The submitted file is NOT acceptable.');
                        window.location = homeUrl;
                    }

                },
                error: function (xhr, error, status) {
                    alert(xhr+ error+ status)
					console.log(error, status);
                }
            });
        });
/*





*/
</script>


    {% endblock %}


