<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Intelligent Document Processing - Insurance </title>
    <link rel="stylesheet" type="text/css" href="/RSA/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/RSA/static/content/site.css" />
    <script src="/RSA/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href=""><img
                        src="/RSA/static/scripts/wipro.svg" style="width:10%;height:10%;"> Intelligent Document Processing - Insurance</a>
        </div>
    </div>
</div>
    
<script src="/RSA/static/scripts/jquery-1.10.2.js"></script>
<script src="/RSA/static/scripts/bootstrap.js"></script>
<script src="/RSA/static/scripts/respond.js"></script>
<script src="/RSA/static/scripts/spin.js"></script>
<script src="/RSA/static/scripts/loader.js"></script>
{% block scripts %}{% endblock %}

<div class="container body-content">
    <img src="/RSA/static/scripts/rsa.svg" align="right" style="margin-top: 20px;">
    {% block content %}{% endblock %}
    <hr />
    <footer>
        <p>&copy; {{ year }} - Dr. Reza S Dilmaghani</p>
    </footer>
</div>
    
</body>
</html>
